h{
	font-size: 30px;
	position: absolute;
	top: 2%;
	left: 0%;
	text-align: center;
	font-weight: bolder;
    width: 100%;
    background-color: white;
    color: #FFCCCC;
}
.words{
	background-color: #FFCCCC;
	color: white;
	position: absolute;
	top: 10%;
	left: 20%;
	font-size: 20px;
	font-weight: bold;
	width: 60%;
	padding: 2%;
}
img{
	max-width: 96%;
}
@media screen and (max-width: 700px){
	h{
		font-size: 20px;
		top: 4%;
		margin: 2%;
	}
	.words{
		font-size: 18px;
		width: 100%;
		left: 0%;
		top: 12%;
		margin: 0;
		padding: 2%;
	}
}